---
---

@charset "utf-8";

// Our variables
$base-font-family: 'Lato', sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.6;
$serif-font: 'Roboto Slab', serif;

$spacing-unit:     20px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

// Grays
$gray-color:       #828282;
$gray-color-light: lighten($gray-color, 40%);
$gray-color-dark:  darken($gray-color, 25%);
$dark-gray: #333333;
$dark-gray-lighter: lighten($dark-gray, 40%);

// Colors
$white-color: #ffffff;
$teal-color: #00baa7;
$teal-color-lighter: lighten($teal-color, 5%);
$teal-color-darker: darken($teal-color, 15%);
$finehumans-yellow: #CFC329;
$violet: #9179BA;
$violet-dark: #6a4e98;

//Width of the content area
$content-width:    1170px;
$on-palm:          600px;
$on-laptop:        800px;


@mixin media-query($device) {
  @media screen and (max-width: $device) {
      @content;
  }
}
@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin fade { 
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "syntax-highlighting",
  "bootstrap"
;

@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');

html {
  height: 100%;
}
body {
  color: $dark-gray;
  font-family: $base-font-family;
  font-size: $base-font-size;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  line-height: 1.6em;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $serif-font;
}
a, a:visited {
  color: $dark-gray;
  text-decoration: underline;
}
a:hover {
  color: $violet-dark;
  text-decoration: none;
  @include fade;
}
::-moz-selection {
  background-color: $teal-color;
}
::selection {
  background-color: $teal-color;
}
.tags {
  color: $gray-color;
  font-family: $serif-font;
}


/* ------------------------------------------------------------------ */
/* NAVIGATION */
/* ------------------------------------------------------------------ */
.site-nav-wrapper {
  margin-bottom: $spacing-unit;
}
.site-nav, .site-footer {
  clear: both;
  overflow: auto;
  padding: $spacing-unit 0;
  text-align: center;

  ul {
    list-style: none;
    margin: 0;

    li {
      list-style: none;
      padding: 0 $spacing-unit;
    }
  }
  p {
    margin: 0;
  }
  a {
    text-decoration: none;
  }
}
.site-nav {
  padding-top: $spacing-unit*2;

  .site-title {
    display: block;
    margin-bottom: $spacing-unit;
    text-align: center;

    a {
      //color: $violet;
      font-size: 2em;
      font-weight: 600;
      letter-spacing: 1px;
    }

    @media screen and (min-width: $on-laptop) {
      float: left;
      margin-bottom: 0;
      text-align: left;
    }
  }
  ul {
    @media screen and (min-width: $on-laptop) {
      float: right;
    }
    li {
      padding: 10px $spacing-unit;
      display: block;

      @media screen and (min-width: $on-laptop) {
        padding: 0 $spacing-unit;
        display: inline-block;
      }

      a {
        color: $gray-color;
        //text-transform: uppercase;

        &:hover {
          border-bottom: 3px solid $violet;
          color: $violet;
          padding-bottom: .4em;
        }
      }
    }
  }
}

/* footer */
.site-footer-wrapper {
  .site-footer {
    padding-top: $spacing-unit*2;
  
    ul {
      margin-bottom: $spacing-unit;
      li {
        display: inline-block;
      }
      a {
        font-size: 1.5em;
      }
    }
  }
}


/* ------------------------------------------------------------------ */
/* CONTENT  */
/* ------------------------------------------------------------------ */
/* hero images and banner */
.hero, .banner {
  margin-bottom: $spacing-unit; 
  text-align: center;
  h2 {
    margin: 0;
  }
}
.hero {
  //background-color: #DFDBE5;
  //background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.2'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  padding: 0 $spacing-unit $spacing-unit*2;

  h2 {
    //color: $violet-dark;
    font-weight: 700;
  }
  
  @media screen and (min-width: $on-laptop) {
    //min-height: 300px;
    h2 {
      font-size: 2em;
      //line-height: 300px;
      white-space: nowrap;
    }
  }  
}
.banner {
  h2 {
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;
  }
}

/* default content wrapper */
.page-content {
  overflow: auto;
  a {
    border-bottom: 1px solid rgba(43,43,43,.3);
  }
}

/* homepage - projects */
.projects-wrapper {
  clear: both;
  overflow: auto;
}
.project-thumbnail {
  margin-bottom: $spacing-unit;
  position: relative;

  @media screen and (min-width: $on-laptop) {
    float: left;

    &.floatright {
      float: right;
    }
  }

}
#homepage {
  .project-thumbnail {

    a > img {
      opacity: 0.7;
      filter: alpha(opacity=70);

      &:hover {
        //background-color: $violet-dark;
        opacity: 1;
        filter: alpha(opacity=1);
      }
    }    
  }
}
#photography-page {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: $spacing-unit;
    }
  }
}

/* blog posts */
.posts-wrapper {
  margin-bottom: $spacing-unit;
}
.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.post-header {
  h3 {
    margin-top: 0;
    margin-bottom: 5px;

    a {
      border-bottom: none;
    }
  }
}

/* about page */
.about-wrapper, .contact-wrapper {
  @media screen and (min-width: $on-laptop) {
    margin: 0 auto;
    width: 83%;
  }
}

/* contact page*/
.contact-wrapper {

  form {
    input, textarea {
      width: 100%;
    }
    section {
      margin-bottom: $spacing-unit;
    }
  }
}

/* read more button */
.call-to-action {
  border: 1px solid rgba(43,43,43,.3);
  -webkit-border-radius: 5px;
  border-radius: 5px;  
  display: inline-block;
  padding: $spacing-unit/2;

  &:hover {
    background-color: $violet;
    color: #fff;
  }
}



