---
---

@charset "utf-8";

// Our variables
$base-font-family: 'Open Sans', sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$serif-font: 'Roboto Slab', serif;

$spacing-unit:     20px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$gray-color:       #828282;
$gray-color-light: lighten($gray-color, 40%);
$gray-color-dark:  darken($gray-color, 25%);

// My Colors
$white-color: #ffffff;
//$teal-color: #24aba7;
$teal-color: #009fba;
$teal-color-lighter: lighten($teal-color, 5%);
$teal-color-darker: darken($teal-color, 15%);
$dark-gray: #666666;
$dark-gray-lighter: lighten($dark-gray, 40%);
$darker-gray: #333333;
$finehumans-yellow: #CFC329;

//Width of the content area
$content-width:    1170px;

$on-palm:          600px;
$on-laptop:        800px;


@mixin media-query($device) {
  @media screen and (max-width: $device) {
      @content;
  }
}
@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin fade { 
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "syntax-highlighting",
  "bootstrap"
;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Sans+Pro:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');

html {
  height: 100%;
}
body {
  color: $dark-gray;
  font-family: $base-font-family;
  font-size: $base-font-size;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $serif-font;
}
.standout {
  background-color: $teal-color-lighter;
  padding: 0 3px;
  &:hover {
    background-color: $teal-color-darker;
    @include fade;
  }
  a {
    color: $white-color;
    text-decoration: none;
  }
}
.lighttext {
  color: $gray-color;
  font-family: $serif-font;
}
a, a:visited, a:active {
  color: $dark-gray;
  text-decoration: none;
}
a:hover {
  color: $teal-color;
  text-decoration: none;
  @include fade;
}
::-moz-selection {
  background-color: $teal-color;
}
::selection {
  background-color: $teal-color;
}

/* --------------------------------------------------- */
/* Left Side */
/* --------------------------------------------------- */
.left-sidebar {
  height: 100%;
  -webkit-animation: colorchange 30s ease infinite;
  -moz-animation: colorchange 30s ease infinite;
  animation: colorchange 30s ease infinite;

  @-webkit-keyframes colorchange {
      0%   {background-color: #0071ba;}
      25%  {background-color: #77539b;}
      50%  {background-color: #0043ba;}
      75%  {background-color: #009fba;}
      100% {background-color: #0071ba;}
  }
  @-moz-keyframes colorchange {
      0%   {background-color: #0071ba;}
      25%  {background-color: #77539b;}
      50%  {background-color: #0043ba;}
      75%  {background-color: #009fba;}
      100% {background-color: #0071ba;}
  }
  @keyframes colorchange { 
      0%   {background-color: #0071ba;}
      25%  {background-color: #77539b;}
      50%  {background-color: #0043ba;}
      75%  {background-color: #009fba;}
      100% {background-color: #0071ba;}
  }  

  @media screen and (min-width: $on-palm){
    position: fixed;
    left: 0;
  }

  .sidebar-wrap {
    padding: 40px 0;
    clear: both;
    text-align: center;

    @media screen and (min-width: $on-palm){ 
      text-align: left;
    }
  }
  .name-card {
    color: $white-color;

    .avatar {
      background-color: $teal-color;
      border-radius: 50%;
      width: 120px;
      height: 120px;
      margin: 0 auto 20px;
      overflow: hidden;

      @media screen and (min-width: $on-palm){ 
        margin: 0 0 20px;
      }
    }
    h1 {
      margin-top: 0;
    }
    h2 {
      font-family: $base-font-family;
      font-size: 1.2em;
      margin: $spacing-unit 0 $spacing-unit*2;
    }
    a {
      color: $white-color;
      &:hover {
        color: $darker-gray;
      }
    }
  }
} 

/* sidebar navigation */
.site-nav {
  padding-bottom: $spacing-unit;
  ul {
    margin: 0 auto;
    padding: 0;
    text-align: center;

    // @media screen and (min-width: $on-palm){
    //   float: right;
    // }
    li {
      list-style: none;
      padding: 0;

      @media screen and (min-width: $on-palm){
        text-align: left; 
      }

      a {
        color: $white-color;

        &:hover {
          color: $gray-color-dark;
          text-decoration: none;
        }
        // &.active {
        //   border-bottom: 2px solid $teal-color;
        // }
      }      
    }
  }
}

.site-footer {
  color: $white-color;

  a {
    color: $white-color;
    &:hover {
      color: $darker-gray;
      text-decoration: none;
    }
  }

  .social-media-list {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      padding: 0 10px;

      @media screen and (min-width: $on-palm){ 
        padding: 0 20px 0 0;
      }

      a {
        font-size: 2em;
      }
    }
  }
}

/* --------------------------------------------------- */
/* Right Side */
/* --------------------------------------------------- */
.main {
  .page-content {
    flex: 1;
    padding: $spacing-unit 0;

    @media screen and (min-width: $on-palm){ 
      padding: $spacing-unit 40px;
    }

    p,li {
        a.call-to-action {
        border-bottom: solid 1px rgba(85,85,85,.2);
      }
    }

    h3 > a {
      border-bottom: none;
    }
  }  
}
.colon {
  margin-top: $spacing-unit*2;
}

/* homepage / landing page */
.post-summary {
  border-bottom: 1px solid $gray-color-light;
  clear: both;
  margin-bottom: 20px;
  overflow: auto;
  padding-bottom: 20px;

  img {
    margin: 0;

    @media screen and (min-width: $on-palm){ 
      float: left;
      height: 200px;
      margin: 0 20px 0 0;
    }
  }
}
.post-meta {
  color: $gray-color;
  font-size: 80%;
}

/* projects landing page */
.project-thumbs {
  list-style: none;
  margin-left: 0;
  li {
    margin-bottom: $spacing-unit;
    img {
      margin-bottom: $spacing-unit;
      &:hover {
        background-color: $dark-gray;
        opacity: 0.8;
      }
    }
  }
}  

/* project - detail page */
.project-single {
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      margin: 0 0 40px;
    }
  }
  img {
    border: 1px solid $gray-color-light;
  }
}


