---
---

@charset "utf-8";

// Our variables
$base-font-family: 'Open Sans', sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.6;
$serif-font: 'Roboto Slab', serif;

$spacing-unit:     20px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$gray-color:       #828282;
$gray-color-light: lighten($gray-color, 40%);
$gray-color-dark:  darken($gray-color, 25%);

// My Colors
$white-color: #ffffff;
$teal-color: #009fba;
$teal-color-lighter: lighten($teal-color, 5%);
$teal-color-darker: darken($teal-color, 15%);
$dark-gray: #666666;
$dark-gray-lighter: lighten($dark-gray, 40%);
$darker-gray: #333333;
$finehumans-yellow: #CFC329;

//Width of the content area
$content-width:    1170px;

$on-palm:          600px;
$on-laptop:        800px;


@mixin media-query($device) {
  @media screen and (max-width: $device) {
      @content;
  }
}
@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin fade { 
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "syntax-highlighting",
  "bootstrap"
;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Sans+Pro:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');

html {
  height: 100%;
}
body {
  color: $dark-gray;
  font-family: $base-font-family;
  font-size: $base-font-size;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  line-height: 1.6em;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $serif-font;
}
a, a:visited, a:active {
  color: $dark-gray;
  text-decoration: none;
}
a:hover {
  color: $teal-color;
  text-decoration: none;
  @include fade;
}
::-moz-selection {
  background-color: $teal-color;
}
::selection {
  background-color: $teal-color;
}
.tags {
  color: $gray-color;
  font-family: $serif-font;
}

/* --------------------------------- */
/* NAVIGATION */
/* --------------------------------- */
.site-nav-wrapper, .site-footer-wrapper {
  background: #ccc;
}
.site-nav, .site-footer {
  clear: both;
  overflow: auto;
  padding: $spacing-unit 0;
  text-align: center;

  ul {
    list-style: none;
    margin: 0;

    li {
      display: inline-block;
      list-style: none;
      padding: 0 $spacing-unit;
    }
  }
}

.site-nav {
  .site-title {
    display: block;
    text-align: center;
    text-transform: uppercase;

    @media screen and (min-width: $on-laptop) {
      float: left;
      text-align: left;
    }
  }

  ul {
    @media screen and (min-width: $on-laptop) {
      float: right;
    }
    li {
      padding: 0 $spacing-unit;
    }
  }
}

.home {
  .intro {
    background-color: #333;
    margin-bottom: $spacing-unit; 
    padding: $spacing-unit*4 0;
    text-align: center;
  }
}

.project-card {
  @media screen and (min-width: $on-laptop) {
    float: left;
  }
}

.call-to-action {
  border: 1px solid #999;
  -webkit-border-radius: 5px;
  border-radius: 5px;  
  display: inline-block;
  padding: $spacing-unit/2;

  &:hover {
    background-color: $teal-color;
    color: #fff;
  }
}




