<footer class="site-footer">

<ul class="social-media-list">
  <div class="container">
    {% if site.twitter_username %}
    <li>
      <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">Twitter</a>
    </li>
    {% endif %}

    {% if site.github_username %}
    <li>
      <a href="https://github.com/{{ site.github_username }}" target="_blank">Github</a>
    </li>
    {% endif %}

    {% if site.linkedin_username %}
    <li>
      <a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank">LinkedIn</a>
    </li>
    {% endif %}
  </div>
</ul>

<div class="container">
  <p><small>&copy; 2016 Yvette Aban. Thanks for stopping by! Feel free to say hi at <a href="mailto:hello@yvetteaban.com">hello@yvetteaban.com</a></small></p>
</div>

</footer>
