<footer class="site-footer">
  <ul class="social">
    {% if site.instagram_username %}
    <li>
      <a href="https://www.instagram.com/{{ site.instagram_username }}" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a>
    </li>
    {% endif %}
    {% if site.github_username %}
    <li>
      <a href="https://github.com/{{ site.github_username }}" target="_blank" title="Github"><i class="fa fa-github"></i></a>
    </li>
    {% endif %}
    {% if site.linkedin_username %}
    <li>
      <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
    </li>
    {% endif %}
    <li>
      <a href="/contact"><i class="fa fa-envelope"></i></a>
    </li>
  </ul>
  <p><small>Yvette Aban &copy; 2015-2019.</small></p> 
</footer>



