<header class="site-header">

  <div class="container">

  <nav class="site-nav">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <ul>
      <li><a href="/">Work</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </nav>

    <div class="intro">
      <h2>web design + development</h2>

      <p>I specialize in creating clean, beautiful, &amp; user-friendly websites. I'm currently available for select freelance projects. You can reach me at <span class="standout"><a href="mailto:hello@yvetteaban.com">hello@yvetteaban.com</a></span>.</p>
    </div> 

  </div>

</header>
