---
layout: default
---

<div class="blog-list">

{% include nav.html %}

	<h2>Blog Posts</h2>

	{% for post in site.posts %}
		<div class="post-summary">
		
			<!-- {% assign image = post.images[0] %} -->

			{% assign foundImage = 0 %}
			{% assign images = post.content | split:"<img " %}
			{% for image in images %}
			{% if image contains 'src' %}

			    {% if foundImage == 0 %}
			        {% assign html = image | split:"/>" | first %}
			        <p><img height="200" {{ html }} /></p>
			        {% assign foundImage = 1 %}
			    {% endif %}
			{% endif %}
			{% endfor %}

			<h3><a href="{{post.url}}">{{post.title}}</a></h3>

			<!-- <p>{{post.date | date: "%B %-d, %Y"}}</p> -->

			{{post.excerpt}}

			<!-- <p><a class="call-to-action" href="{{post.url}}">Read more</a></p> -->
		</div>
	{% endfor %}

</div>