---
layout: default
title: Blog
---

<div class="blog-page">
  <div class="banner">
    <h2>Blog</h2>
	</div>	

<div class="display-flex">
{% for post in site.posts %}

<div class="post-summary">

  <div class="col-md-6">
      {% assign foundImage = 0 %}
      {% assign images = post.content | split:"<img " %}
      {% for image in images %}
      {% if image contains 'src' %}
          {% if foundImage == 0 %}
              {% assign html = image | split:"/>" | first %}
              <p><a href="{{post.url}}"><img {{ html }} /></a></p>
              {% assign foundImage = 1 %}
          {% endif %}
      {% endif %}
      {% endfor %}
  </div>
<div class="col-md-6">
  <header class="post-header">
    <h3><a href="{{post.url}}">{{post.title}}</a></h3>
    <p><small>{{post.date | date: "%B %-d, %Y"}}</small></p>
  </header>

  {{post.excerpt}}

  <p class="read-more"><a href="{{post.url}}" title="Read more">Read more &rarr;</a></p>
</div>

</div>

{% endfor %}
</div>

</div>