<!DOCTYPE html>
<html>

{% include head.html %}

<body>

<div class="container-fluid">
	<div class="row">
		<div class="site-nav-wrapper col-sm-12 col-md-12">
			{% include nav.html %}
		</div>	
	</div>
	<div class="row">
		<div class="content-wrapper col-sm-12 col-md-12">
			<div class="page-content">
				{{ content }}
			</div>
		</div>
	</div>
	<div class="row">	
		<div class="site-footer-wrapper col-sm-12 col-md-12">
			{% include footer.html %}
		</div>
	</div>	
</div><!--/container-fluid-->


</body>
</html>
