<!DOCTYPE html>
<html>

{% include head.html %}

<body>

<div class="container">
    <div class="row">
        <div class="site-nav-wrapper col-sm-12 col-md-12">
            {% include nav.html %}
        </div>  
    </div>
</div><!--/container-->

<div id="homepage">

<!--     <div class="hero">
        <h2>Design • Photography</h2>
    </div> -->

<div class="container">

    <div class="projects-wrapper">  

        <div class="project-thumbnail">
            <a href="/projects/braddock-youth-project/" title="Design">
                <img src="{{ site.baseurl }}/assets/proj-byp.png" alt="Braddock Youth Project flyers">
            </a>
        </div>

        <div class="project-thumbnail floatright">
            <a href="/photography" title="Photography">
                <img src="{{ site.baseurl }}/assets/thumbnail-yosemite-yvetteaban.jpg" alt="Yosemite National Park">
            </a>
        </div>

        <div class="project-thumbnail">
            <a href="/projects/imagine-careers/" title="Imagine Careers">
                <img src="{{ site.baseurl }}/assets/proj-imaginecareers.png" alt="Imagine Careers">
            </a>
        </div>

        <div class="project-thumbnail floatright">
            <a href="/projects/fine-humans/" title="Fine Humans">
                <img src="{{ site.baseurl }}/assets/proj-finehumans.png" alt="Fine Humans">
            </a> 
        </div> 

        
    </div><!--/project-wrapper -->
</div><!--/container-->

</div><!--/home-page -->

<div class="site-footer-wrapper">
    {% include footer.html %}
</div>

</body>
</html>