<!DOCTYPE html>
<html>

{% include head.html %}

<body>

<header class="site-header">
  <div class="container">

    <nav class="site-nav">
      <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
      <ul>
        <li><a href="/">Work</a></li>
        <li><a href="/adventure">Adventure</a></li>
      </ul>
    </nav>

    <div class="intro">
      <h2>designer. adventurer. <br /> always hungry.</h2>
    </div>

  </div>
</header>

<div class="page-content">
	<div class="container">
	  {{ content }}
	</div>  
</div>

{% include footer.html %}

</body>

</html>